@model string

@{
	Layout = null;
}

<div class="layout-full-width">
	<article class="primary">
		<div class="component">
			<h1>ACK!</h1>
			<p>no good, it appears &lsquo;@Model&rsquo; is not cooperating</p>
			<p>Perhaps try a different site (?)</p>
			@Html.Partial("ScraperForm/_Form")
		</div>
	</article>
</div>