@{
	ViewBag.Title = "Home Page";
}


<div class="row">
	<h1>Data Miner</h1>
	<p>Scrape a target url and gallery'ize all the found images</p>
</div>

<div class="row">
	@Html.Partial("/Views/Scraper/_Form.cshtml")
</div>

@*@Html.Action("Results")*@



<h3>Examples</h3>
<p>Consider a few starter links to browse:</p>

<ul>
	<li><a href="/scraper/?url=https%3A%2F%2Fxcentium.com%2Four-team">xcentium.com/our-team</a></li>
	<li><a href="/scraper/?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fmusic%2Fcollection%2F5%3Asearch_cluster%3A2%3Fclp%3DYhoKCXRoZSBjbGFzaBACGgsKCXRoZSBjbGFzaA%253D%253D%253AS%253AANO1ljI8Eus%26hl%3Den">Google Play : the Clash Albums</a></li>
	<li><a href="http://xcentium.challenge.local/scraper/?url=https%3A%2F%2Fwww.wunderground.com%2Fcat6%2Ftwo-unusual-tropical-cyclones-affect-australia-and-new-zealand">WunderGround : Two Unusual Tropical Cyclones Affect Australia and New Zealand</a></li>
</ul>