@{
	ViewBag.Title = "Home Page";
}


<div class="row">
	<h1>Data Miner</h1>
	<p>Scrape a target url and gallery'ize all the found images</p>
</div>

<div class="row">
	@Html.Partial("/Views/Scraper/_Form.cshtml")
</div>

@*@Html.Action("Results")*@



<h3>Examples</h3>
<p>Consider a few starter links to browse:</p>


@Html.Partial("_ExampleLinks")