@model XCentium.Challenge.Models.ScrapedPageViewModel
@{
	if (false == Model.WordFrequencyStats.Any())
	{
		return;
	}
}

@foreach (var result in Model.WordFrequencyStats.Take(10))
{
	<div>
		<mark>@result.Count</mark> <strong style="font-size: @(result.CalculatedDisplaySize)rem">@result.Word </strong>
	</div>
}

