@model string

@{
	Layout = null;
}

<h1>ACK!</h1>
<h4>No good, very bad scrape</h4>
<p>It appears &lsquo;@Model&rsquo; is not cooperating as it does not wish to be scraped</p>


<p>Perhaps try a different site, or consider one of the following</p>


@Html.Partial("_ExampleLinks")